<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Medication Plan List</h2>
    <h2>{{today | date:'dd/MM/yyyy hh:mm:ss'}}</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Start-End Time</th>
        <th>Medication Name</th>
        <th>Patient Name</th>
        <th>Intake start</th>
        <th>Intake end</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let medPlan of medPlans ">
        <td>{{medPlan.startEndTime}}</td>
        <td>{{medPlan.patientName}}</td>
        <td>{{medPlan.medicationName}}</td>
        <td>{{medPlan.intake_start}}</td>
        <td>{{medPlan.intake_end}}</td>
        <td><button class="btn btn-danger">Taken</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
